* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
  --color1: #141850;
  --color2: #303179;
  --color3: #ed7966;
  --color4: #f5cac2;
  --color5: #fae5df;
}

body {
  color: var(--color1);
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  position: relative;
}

button {
  background-color: var(--color3);
  color: white;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
}

button:hover {
  border: 2px solid var(--color5);
  background-color: var(--color4);
  color: #141850;
  font-weight: 500;
}


#add-book:hover {
  background-color: var(--color4);
  border: 2px solid white;
  color: var(--color1);
}

.header {
  background-color: var(--color2);
  color: var(--color5);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  font-size: 40px;
}

header {
  text-align: center;
  text-transform: uppercase;
}

.header > button {
  position: fixed;
  left: 20px;
  z-index: 1;
}

#books-container {
  background-color: var(--color5);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 0.5fr));
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.bookcard {
  background-color: white;
  border-radius: 5px;
  border-left: 8px solid var(--color2);
  border-bottom: 5px solid var(--color4);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
  position: relative;
}

.book-title,
.book-author,
.book-pages {
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  padding: 0px 15px;
}

.book-status {
  display: grid;
  align-items: center;
  padding: 0px 15px;
}

/*title */
.book-title {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 0px 3px 2px -2px var(--color4);
  text-align: center;
  padding: 0px 10px 10px 10px;
}

.bookcard > button {
  align-self: center;
}

.delete-button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 15px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  border: 2px solid transparent;
}

.not-read-button {
  background-color: var(--color4);
  color: var(--color3);
}

.read-button:hover {
  background-color: var(--color3);
  border: 2px solid var(--color2);
  color: white;
}

.not-read-button:hover {
  color: #303179;
  background-color: var(--color4);
}
/* form */
.form-container {
  background-color: var(--color3);
  color: white;
  border-radius: 5px;
  padding: 50px;
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

form > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#submit-book {
  background-color: white;
  color: black;
}

#submit-book:hover {
  background-color: var(--color1);
  color: white;
}

input,
select {
  height: 2rem;
  border: 2px solid var(--color3);
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 1rem;
  box-shadow: inset 1px 1px 2px #ccc;
}

input:focus {
  border: 2px solid var(--color2);
}

.blur {
  filter: blur(3px);
  opacity: 40%;
}

/* footer */
footer {
  background-color: var(--color2);
  color: var(--color5);
  padding: 20px;
  display: flex;
  justify-content: space-around;
}


/* remove arrows in number input field for pages */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
