* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}

body {
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  position: relative;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.header {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 900;
  font-size: 50px;
}

header {
  text-align: center;
  text-transform: uppercase;
}

.header > button {
  position: absolute;
  left: 20px;
}

#books-container {
  background-color: rgb(229, 229, 229);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 0.5fr));
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.bookcard {
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.bookcard:hover {  
  outline: 3px solid white;
  outline-offset: 2px;
}

.book-title,
.book-author,
.book-pages {
  grid-column: 1/-1;
  display: grid;
  align-items: center;
  padding: 0px 15px;
}

/*title */
.book-title {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px -2px rgb(171, 171, 171);
  text-align: center;
  padding: 0px 0px 10px 0px;
}

.bookcard > button {
  align-self: center;
  height: 40px;
}

/* form */
.form-container {
  background-color: rgb(229, 229, 229);
  border-radius: 5px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form > div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#submit-book {
  background-color: white;
  color: black;
}

input,
select {
  height: 2rem;
  border: transparent;
  border-radius: 5px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  padding: 0 1rem;
  box-shadow: inset 1px 1px 2px #ccc;
}

input:focus,
select:focus,
button:hover {
  outline: 2px solid rgb(199, 146, 146);
}

.blur {
  filter: blur(3px);
  opacity: 40%;
}

/* footer */
footer {
  background-color: white;
  color: #44424a;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
