* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/* styling */

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  position: relative;
}

.header {
  background-color: white;
  color: #44424a;
  padding: 30px;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

footer {
  background-color: lightgreen;
}

#books-container {
  background-color: rgb(229, 229, 229);
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(200px, 0.5fr));
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  padding: 20px;
}

.bookcard {
  background-color: white;
  padding: 30px;
  display: grid;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgb(171, 171, 171);
  align-items: center;
}

.form-container {
  background-color: pink;
  border-radius: 15px;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form > div{
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blur {
  filter: blur(3px);
  opacity: 40%;
}

footer {
  background-color: white;
  color: #44424a;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}